<!doctype html>
<html lang="en"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">

        <title>Pokemon Database</title>
    </head>

    <style>
        body {
            overflow-x: hidden;
        }

        .table td, .table th {
            vertical-align: middle;
        }
    </style>
    <body>

        <div class="grid">
            <div class="row">
                <div class="container-fluid">
                    <div class="float-right mr-5">
                        <div>
                            Hello <span sec:authentication="name">Anonymous </span>
                        </div> 
                        <form sec:authorize="isAuthenticated()" id="frmlogout" th:action="@{/logout}" method="post" class="form-inline">
			    			<a href="javascript:{}" onclick="document.getElementById('frmlogout').submit(); return false;">Log out</a>
			      		</form>
                    </div>
                </div> 
            </div>
            
            <div class="row mb-3">
                <div class="container pl-0">
                    <div class="float-left">
                        <button type="button" class="btn btn-secondary btn-lg btn-block">Add new pokemon</button>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="container">
                    <div class="row">
                        <input type="text" class="form-control col-8" placeholder="Search" aria-label="Search" aria-describedby="button-addon2">
                        <div class="input-group-append col-4">
                            <button class="btn btn-outline-secondary mx-auto w-100" type="button" id="button-addon2">Search</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-5">
                <div class="container pl-0">
                    <table class="table table-bordered" id="pokemon-data">
                        <thead>
                            <tr>
                                <th scope="col">Pictures</th>
                                <th scope="col">Name</th>
                                <th scope="col">Creator</th>
                                <th scope="col">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>

        <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Confirmation</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label class="col-form-label">
                                    <span>
                                        Are you sure you want to delete
                                    </span>
                                    <span id="pokemon-deletable-name"></span>
                                </label>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary">Delete!</button>
                    </div>
                </div>
            </div>
        </div>
    </body>

    <script type="module" src="/js/index.js"></script>
</html>